header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-bottom: 10px;
  font-size: small;
  /* background-color: rgb(240, 187, 13); */
}

.nav-links {
  width: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  list-style: none;
  color: white;
}
@media only screen and (min-width: 750px) {
  header {
    font-size: large;
  }
}
