nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(240, 187, 13);
    margin-bottom: 20px;;
}

.nav-links {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: right;

    list-style: none;
}
