button {
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  width: 7rem;
  background-color: gray;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  margin: 5px;
}
.Home-Page {
  background-color: orange;
  display: grid;
  align-content: start;
  justify-items: center;
}
